body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

section.banner {
	padding: 20px;
}

h1, h2, h3,p{
	text-align: center;
	margin: 0;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: relative;
	top: 153px;
}